<mat-toolbar>Registro de Consulta Especial</mat-toolbar>

<form class="example-container" >
    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente">

        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
            <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
                {{ p.nombres }} {{p.apellidos}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</form>

